#nav {
    color: $color-li;
}

#nav {
    padding: 30px;
    text-align: center;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: whitesmoke;
    background: crimson;
    border-radius: .5rem;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }

.block-left-data {
    border-top-left-radius: .5rem; 
    border-bottom-left-radius: .5rem;
    padding-top: 100px;
    @media (max-width: 768px)  { 
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.search-bar-customers{
    margin-bottom: 20px;
}